/* clearfix */
.clearfix:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix
{
	*display: inline-block;
}

html[xmlns] .clearfix
{
	display: block;
}

* html .clearfix
{
	height: 1%;
}

.stacktack-container
{
    padding: 10px;
    
    font-family: Arial, Helvetica, san-serif;
    font-size: 13px;
    background: transparent url(sprites.png) 0px -108px no-repeat;
}

.stacktack-container h1, .stacktack-container h2, .stacktack-container h3, .stacktack-container h4
{
    font-family: "Trebuchet MS";
    color: #588FC7;
}

.stacktack-container a, .stacktack-container a:link, .stacktack-container a:visited
{
    color: #588FC7;
    text-decoration: none;
}

.stacktack-container a:hover
{
    color: #8CB3D9;
}

.stacktack-container img
{
    border: 0;
}

.stacktack-container pre
{
    display: block;
    padding: 10px;
    overflow: auto;

    background: #EEEEEE;
}

.stacktack-container code
{
    background: #EEEEEE;
    font-size: 0.9em;
}

.stacktack-container blockquote
{
    display: block;
    padding: 0px 10px;
    margin: 0px;
    overflow: auto;

    background: #EEEEEE;
}

.stacktack-content
{
    position: relative;
    padding: 30px 20px 10px 20px;
    min-height: 140px;

    border: solid 1px #DDDDDD;
    background: #FFFFFF;
}

.stacktack-loading
{
    color: #AAAAAA;
}

.stacktack-question
{
    margin-top: 0.8em;
    padding-top: 0.8em;
    
    border-top: solid 1px #DDDDDD;
}

.stacktack-question h3
{
    margin: 0;

    font-size: 1.5em;
}

.stacktack-logo
{
    display: block;
    position: absolute;
    top: -8px;
    left: 10px;
    width: 145px;
    height: 36px;
    text-indent: -9000px;
    overflow: hidden;
    
    background: transparent url(sprites.png) -10px -10px no-repeat;
}

.stacktack-profile
{
    float: right;
    padding: 0.4em;
    width: 140px;
    overflow: hidden;
    
    font-size: 12px;
    background: #EEEEEE;
}

.stacktack-votes
{
    color: #AAAAAA;
}

.stacktack-gravatar
{
    float: left;
    margin-right: 0.4em;
}

.stacktack-answers
{
    border-top: solid 1px #DDDDDD;
}

.stacktack-answer
{
    padding-top: 0.8em;
}

.stacktack-answer + .stacktack-answer
{
    border-top: dotted 1px #CCCCCC;
}

.stacktack-answer h4
{
    margin: 0;

    font-size: 1.2em;
}

.stacktack-answer-accepted .stacktack-answer-header h4
{
    font-size: 1.5em;
}

.stacktack-answer-accepted .stacktack-answer-header h4 a, .stacktack-answer-accepted .stacktack-answer-header h4 a:link, .stacktack-answer-accepted .stacktack-answer-header h4 a:visited
{
    color: #5B9058;
    vertical-align: top;
}

.stacktack-answer-accepted .stacktack-answer-header h4 a:hover
{
    color: #94BC92;
}

.stacktack-answer-check
{
    float: left;
    display: inline;
    width: 20px;
    height: 21px;
    margin-right: 5px;
    
    background: transparent url(sprites.png) -10px -70px no-repeat;
}

a.stacktack-answers-more
{
    display: block;
    padding-top: 0.4em;
    
    border-top: solid 1px #DDDDDD;
    font-size: 1.1em;
    font-weight: bold;
}

.stacktack-tags
{
    padding: 0px;
    
    text-align: right;
}

.stacktack-tags li
{
    display: inline;
    padding: 0.2em 0.4em;
    margin-left: 0.5em;
    
    border-right: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
    background: #EEEEEE;
    list-style: none inside;
    color: #999999;
}